@import "~bulma/bulma";

html {
  body {
    div#background{
      pointer-events: none;
    }
    
    div#app {
      div.box {
        position: absolute;
        z-index: 100;
        right: 25%;
        left: 25%;
        bottom: 8vh;
        width: 50vw;
        opacity: 90%;
        background-color: #FFBE5C;
        * {
          text-align: center;
        }

        div.ReactPlayer{
          display: none;
        }
      }
    }

  }
}