@import "~bulma/bulma";

$ThemeColor: #FFBE5C;
$Background_Color: rgb(255, 217, 161);

html {
  height: 100vh;
  overflow: hidden;
  position: relative;
  * {
    margin: 0;
    padding: 0;
  }

  body {

    video {
      position: absolute;
      width: 100%;
      object-fit: cover;
    }
    
    div#document {
      button.is-rounded.for-document {
        position: fixed;
        right: 2vw;
        top: 2vh;
        z-index: 11;

        width: 8%;
        height: 8%;

        span.icon{
          width: 3em;
          height: 3em;  
        }
  
      }
    }

    div#app {
      div.box {
        position: absolute;
        z-index: 10;
        right: 25%;
        left: 25%;
        bottom: 8vh;
        width: 50vw;
        opacity: 0.9;
        background-color: $ThemeColor;
        * {
          text-align: center;
        }

        div.ReactPlayer{
          display: none;
        }
      }
    }

  }
}